---
import ColorBlob from "../svg/ColorBlob.astro";
import { Image } from "astro:assets";

import akatzukiCoverImage from "../images/projects/akatzuki.png";
import katocraftCoverImage from "../images/projects/katocraft.png";
import lsbotCoverImage from "../images/projects/lsbot.png";
import kangarooportCoverImage from "../images/projects/kangarooport.png";
import lsDashboardCoverImage from "../images/projects/lsdash.png";
import animaCoverImage from "../images/projects/anima.png";
import Darken from "./Darken.astro";

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<a id="projects"></a>
<div class={`${className} bg-[#1A1A1A] py-24 inter-tight relative z-[10]`}>
	<ColorBlob
		class="absolute bottom-0 left-0 -translate-x-1/4 translate-y-1/2 overflow-hidden pointer-events-none -z-[10]"
	/>
	<div class="w-fit mx-auto z-10">
		<p class="text-neutral-500 text-center medium leading-none">EXPLORE ALL OF</p>
		<h1
			class="text-center bg-gradient-to-r from-white to-indigo-300 bg-clip-text text-transparent text-[48px] lg:text-[64px] font-bold leading-tight"
		>
			My Projects
		</h1>
	</div>

	<div class="overflow-hidden">
		<div class="embla">
			<div class="embla__container mt-8 z-10 mx-4 min-w-0 flex poppins">
				<div class="embla__slide bg-[#474747] rounded-xl h-64 mx-4 relative z-[20]" style="flex: 0 0 25%;">
					<Darken />
					<Image
						src={akatzukiCoverImage}
						alt="Akatzuki Project"
						class="w-full h-full z-0 object-cover rounded-xl"
					/>
					<h1
						class="bg-clip-text bg-gradient-to-r from-white to-indigo-300 font-semibold text-3xl text-transparent absolute bottom-12 left-4 z-[60]"
					>
						Akatzuki
					</h1>
					<h2
						class="bg-clip-text bg-gradient-to-r from-white to-indigo-300 font-semibold text-xl text-transparent absolute bottom-4 left-4 z-[60]"
					>
						Website
					</h2>
				</div>

				<div class="embla__slide bg-[#474747] rounded-xl h-64 mx-4 z-20 relative" style="flex: 0 0 25%;">
					<Darken />
					<Image
						src={katocraftCoverImage}
						alt="Katocraft Project"
						class="w-full h-full z-0 object-cover rounded-xl"
					/>
					<h1
						class="bg-clip-text bg-gradient-to-r from-white to-indigo-300 font-semibold text-3xl text-transparent absolute bottom-12 left-4 z-[60]"
					>
						Katocraft
					</h1>
					<h2
						class="bg-clip-text bg-gradient-to-r from-white to-indigo-300 font-semibold text-xl text-transparent absolute bottom-4 left-4 z-[60]"
					>
						Website
					</h2>
				</div>

				<a
					class="embla__slide bg-[#474747] rounded-xl h-64 mx-4 z-20 relative"
					style="flex: 0 0 25%;"
					href="https://builtbybit.com/resources/ticket-bot-paypal-crypto-invoices.22995/"
					target="_blank"
				>
					<Darken />
					<Image
						src={lsbotCoverImage}
						alt="Katocraft Project"
						class="w-full h-full z-0 object-cover rounded-xl"
					/>
					<h1
						class="bg-clip-text bg-gradient-to-r from-white to-indigo-300 font-semibold text-3xl text-transparent absolute bottom-12 left-4 z-[60] leading-tight"
					>
						Light Services Bot
					</h1>
					<h2
						class="bg-clip-text bg-gradient-to-r from-white to-indigo-300 font-semibold text-xl text-transparent absolute bottom-4 left-4 z-[60]"
					>
						Discord bot
					</h2>
				</a>

				<a
					class="embla__slide bg-[#474747] rounded-xl h-64 mx-4 relative"
					style="flex: 0 0 25%;"
					href="https://kangport.vercel.app/"
					target="_blank"
				>
					<Darken />
					<Image
						src={kangarooportCoverImage}
						alt="Kangaroo Portfolio Project"
						class="w-full h-full z-0 object-cover rounded-xl"
					/>
					<h1
						class="bg-clip-text bg-gradient-to-r from-white to-indigo-300 font-semibold text-3xl text-transparent absolute bottom-12 left-4 z-[60]"
					>
						Example Portfolio
					</h1>
					<h2
						class="bg-clip-text bg-gradient-to-r from-white to-indigo-300 font-semibold text-xl text-transparent absolute bottom-4 left-4 z-[60]"
					>
						Website
					</h2>
				</a>

				<a
					class="embla__slide bg-[#474747] rounded-xl h-64 mx-4 relative"
					style="flex: 0 0 25%;"
					href="https://lightservices.nortexdev.com"
					target="_blank"
				>
					<Darken />
					<Image
						src={lsDashboardCoverImage}
						alt="LS Dashboard"
						class="w-full h-full z-0 object-cover rounded-xl"
					/>
					<h1
						class="bg-clip-text bg-gradient-to-r from-white to-indigo-300 font-semibold text-3xl text-transparent absolute bottom-12 left-4 z-[60]"
					>
						Light Services Dashboard
					</h1>
					<h2
						class="bg-clip-text bg-gradient-to-r from-white to-indigo-300 font-semibold text-xl text-transparent absolute bottom-4 left-4 z-[60]"
					>
						Full-stack
					</h2>
				</a>

				<a
					class="embla__slide bg-[#474747] rounded-xl h-64 mx-4 z-[20] relative"
					style="flex: 0 0 25%;"
					href="https://anima-three.vercel.app/"
					target="_blank"
				>
					<Darken />
					<Image src={animaCoverImage} alt="Anima" class="w-full h-full z-0 object-cover rounded-xl" />
					<h1
						class="bg-clip-text bg-gradient-to-r from-white to-indigo-300 font-semibold text-3xl text-transparent absolute bottom-12 left-4 z-[60]"
					>
						Anima
					</h1>
					<h2
						class="bg-clip-text bg-gradient-to-r from-white to-indigo-300 font-semibold text-xl text-transparent absolute bottom-4 left-4 z-[60]"
					>
						Website
					</h2>
				</a>
			</div>
		</div>
	</div>
</div>

<script src="./embla.ts"></script>
